<div class="container col-md-12 couleur">
  <div class="row net-centered">
    <div class="col-md-4 col-centered">
      <div class="reseauxsociaux">
        <a href= "#"><%= image_tag "facebook.png" %></a>
        <a href= "#"><%= image_tag "instagram.png" %></a>
        <a href= "#"><%= image_tag "twitter.png" %></a>
        <a href= "#"><%= image_tag "linkedin.jpg" %></a>
      </div>
    </div>
  </div>

     <%= link_to pages_home_path do %>
        <div class="row justify-content-center">
            <%= image_tag "oreiller4.jpg", :style => 'padding-bottom: 20px;'%>
        </div>
     <% end %>

<div class="row">
  <div class="col-md-2 text-center">
    <h6></b><%= link_to "Qui sommes-nous ?", pages_about_path, :class => "btn btn-outline-primary", :style => 'color: #191970; visited: red; border-width: 3px; border-radius: 15px; font-weight: bold; width: 250px; border-color: #191970' %><b></h6>
  </div>
  <div class="col-md-2 text-center">
    <h6></b><%= link_to "Nos partenaires", pages_partenaires_path, :class => "btn btn-outline-primary", :style => 'color: #191970; border-width: 3px; border-radius: 15px; font-weight: bold;  width: 250px; border-color: #191970' %><b></h6>
  </div>
  <div class="col-md-2 text-center">
    <h6></b><%= link_to "Pourquoi nous dormons mal", pages_mauvaissommeil_path, :class => "btn btn-outline-primary", :style => 'color: #191970; border-width: 3px; border-radius: 15px; font-weight: bold; width: 250px; border-color: #191970' %><b></h6>
  </div>
  <div class="col-md-2 text-center">
    <h6></b><%= link_to "Quelques préconisations", pages_preconisations_path, :class => "btn btn-outline-primary", :style => 'color: #191970; border-width: 3px; border-radius: 15px; font-weight: bold; width: 250px; border-color: #191970' %><b></h6>
  </div>
  <div class="col-md-2 text-center">
    <h6></b><%= link_to "Nos rencontres", pages_rencontres_path, :class => "btn btn-outline-primary", :style => 'color: #191970; border-width: 3px; border-radius: 15px; font-weight: bold; width: 250px; border-color: #191970;' %><b></h6>
  </div>
  <div class="col-md-2 text-center">
    <h6></b><%= link_to "Nous contacter", pages_contact_path, :class => "btn btn-outline-primary", :style => 'color: #191970; border-width: 3px; border-radius: 15px; font-weight: bold; width: 250px; border-color: #191970; color: #191970,' %><b></h6>
  </div>
</div>
</div>

