<div class="container">
  <div class="fond">
     <%= link_to pages_home_path do %>
        <div class="row justify-content-center">
          <%= image_tag "oreiller4.jpg"%>
        </div>
     <% end %>

      <div class="row">
        <div class="col-sm-12 text-center col-md-12">
          <h6></b><%= link_to "Qui sommes-nous ?", pages_about_path %><b></h6>
          <h6></b><%= link_to "Qui sommes-nous ?", pages_about_path %><b></h6>
          <h6></b><%= link_to "Pourquoi nous dormons mal", pages_mauvaissommeil_path %><b></h6>
          <h6></b><%= link_to "Quelques préconisations", pages_preconisations_path %><b></h6>
          <h6></b><%= link_to "Nos rencontres", pages_rencontres_path %><b></h6>
          <h6></b><%= link_to "Nous contacter", pages_contact_path %><b></h6>
        </div>
      </div>
  </div>
</div>

